/** Reset
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Root */
:root {
  --black: #000;
  --white: #fff;
  --grey: #ccc;
  --yellow: #f1c813;
  --gold: #a99a0d;
  --pink: #f1136e;
  --blueLight: #138df1;
  --blueDark: #0d63a9;

  --pad00: 8px;
  --pad01: 16px;
  --pad02: 32px;
  --pad03: 64px;
  --pad04: 90px;
  --btnRad: 4px;

  --fontDisplay: "Bebas Neue", sans-serif;
  --fontStandard: "Hanken Grotesk", sans-serif;
}
html,
body {
  font-family: var(--fontStandard);
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}
h1 {
  font-family: var(--fontStandard);
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8125rem;
}
h2 {
  font-family: var(--fontStandard);
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
}
h3 {
  font-family: var(--fontStandard);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
}
h4 {
  font-family: var(--fontStandard);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}
p {
  font-size: 1.25rem;
  line-height: 2rem;
}
em {
  font-style: italic;
}
button {
  background: transparent;
  border: 0;
  appearance: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/** Styles: Pads */
.pad {
  padding: var(--pad03) var(--pad02);
}
.pad2 {
  padding: var(--pad04) var(--pad02);
}

/** Styles: Type */
.fh {
  font-family: var(--fontDisplay);
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2.215rem;
}
.fhh {
  font-size: 2rem;
}

/** Styles: Nav */
nav {
  display: flex;
  align-items: center;
  gap: var(--pad02);
  padding: var(--pad01);
  position: sticky;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--grey);
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}
nav a img {
  height: 64px;
  width: auto;
}
nav ul {
  font-family: var(--fontDisplay);
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: var(--pad02);
}
nav ul a {
  position: relative;
}
nav ul a.active:after {
  content: "";
  width: calc(100% + var(--pad00));
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
nav ul + a {
  margin-left: auto;
  color: var(--blueDark);
}
nav a.tel {
  display: none;
  color: var(--blueDark);
}

/** Styles: Buttons */
.btn {
  font-family: var(--fontDisplay);
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1;
  border-radius: var(--btnRad);
  background-color: var(--blueLight);
  color: var(--white);
  padding: var(--pad00) var(--pad01);
  display: inline-flex;
  align-items: center;
  gap: var(--pad00);
  text-decoration: none;
  letter-spacing: 0.5px;
}
.btn svg {
  width: 18px;
  height: 18px;
}
.btn span {
  transform: translateY(1px);
}

/** Styles: Hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 42vw;
  padding: 0 var(--pad02);
  color: var(--white);
  text-align: center;
}
.hero--vets {
  height: 52vw;
}
.hero:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/images/noise.png");
  background-repeat: repeat;
  z-index: 2;
}
.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/images/noise.png");
  background-repeat: repeat;
  z-index: 2;
}
.hero img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hero div {
  z-index: 3;
  text-align: center;
}
.hero > div {
  max-width: 900px;
}
.hero h1,
.hero h4 {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.hero h1 + *,
.hero h4 * + * {
  margin-top: var(--pad02);
}
.hero .btn {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/** Styles: Mast */
.mast {
  display: flex;
  justify-content: center;
  text-align: center;
}
.mast h2 {
  max-width: 830px;
}

/** Styles: Sec */
.sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.sec + .sec {
  padding-top: 0;
}
.sec > * {
  max-width: 640px;
}
.sec > * + * {
  margin-top: var(--pad02);
}

/** Styles: Services */
.svcs {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svcs p {
  max-width: 580px;
}
.svcs > :first-child {
  margin-bottom: var(--pad02);
}
.svcs .fh {
  color: var(--yellow);
}
.svcs p + .fh {
  margin-top: var(--pad02);
}

/** Styles: Lock */
.lock {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lock__txt {
  max-width: 540px;
  margin-left: var(--pad02);
  order: 2;
}
.lock__txt .fhh {
  color: var(--gold);
  margin-bottom: var(--pad02);
}
.lock__txt .btn {
  margin-top: var(--pad02);
}
.lock__img {
  width: 100%;
  max-width: 525px;
}
.lock__img > img {
  width: 100%;
}
.lock__img > div {
  padding-bottom: 108%;
  position: relative;
}
.lock__img > div img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** Styles: Banner */
.banner {
  background-color: var(--blueDark);
  color: var(--yellow);
  text-align: center;
}
.banner h3 {
  margin-bottom: var(--pad02);
}
.banner p + p {
  margin-top: var(--pad01);
}

/** Styles: About */
.bio .fhh {
  text-align: center;
  margin-bottom: var(--pad02);
}
.bio .lock__txt p + p {
  margin-top: var(--pad02);
}

/** Styles: Footer */
footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
}
footer a {
  color: var(--yellow);
  text-decoration: underline;
}
footer p {
  font-size: 1rem;
  line-height: 1.75rem;
}
footer p:nth-child(2) {
  margin: var(--pad02) 0;
}
footer > div {
  max-width: 435px;
}

/** Styles: Media */
@media (min-width: 1792px) {
  .hero {
    max-height: 600px;
  }

  .hero--vets {
    max-height: 800px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .hero {
    height: 60vw;
  }

  .hero > div {
    max-width: 640px;
  }

  .mast h2 {
    max-width: 560px;
  }

  .lock {
    flex-direction: column;
    text-align: center;
  }

  .lock__txt {
    margin-bottom: var(--pad02);
    margin-left: 0;
    order: 1;
  }

  .lock__img {
    order: 2;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .fhh {
    font-size: 1.5rem;
  }

  nav {
    gap: var(--pad01);
  }

  nav ul {
    font-size: 1rem;
    gap: var(--pad01);
  }

  nav a img {
    height: 40px;
  }

  nav .btn {
    display: none;
  }

  nav a.tel {
    display: block;
  }

  .hero {
    height: 80vw;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 100vw;
  }

  .hero--vets {
    height: auto;
    padding-top: var(--pad03);
    padding-bottom: var(--pad03);
  }
}
