<!DOCTYPE html>
<html lang="en">
  <head>
    {% render "metadata", slug: slug %}
    <title>{% if title %}{{ title }} | {% endif %}HB Junk Hauling</title>
    {% capture styles %}
      {% render "styles.css" %}
    {% endcapture %}
    <style>
      {{ styles | cssmin }}
    </style>
    {% render "gtm" %}
  </head>
  <body class="{{ class }}">
    <nav>
      <a href="/" title="HB Junk Hauling">
        <img src="/images/hblogo-text.png" width="603" height="373" alt="HB Junk Hauling" />
      </a>
      <ul>
        <li>
          <a href="/about-us/" class="{% if slug == 'about-us' %}active{% endif %}">
            About Us
          </a>
        </li>
        <li>
          <a href="/our-services/"class="{% if slug == 'our-services' %}active{% endif %}">
            Our Services
          </a>
        </li>
      </ul>
      <a href="https://www.facebook.com/hbjunkhauling" title="HB Junk Hauling on Facebook" target="_blank">
        {% render "svg/facebook.svg" %}
      </a>
      <a href="tel:+15415139867" title="Call Now" class="btn">
        <span>Contact Us</span>
        {% render "svg/phone-call.svg" %}
      </a>
      <a href="tel:+15415139867" title="Call Now" class="tel">
        {% render "svg/phone-call.svg" %}
      </a>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer class="pad2">
      <div>
        <p>With HB Junk Hauling there are no hidden fees. Our prices include mileage, loading, labor and disposal fees. Call us today and schedule a free, no-obligation estimate!</p>
        <p><a href="tel:+15415139867">(541) 513-9867</a></p>
        <p>
          <em>Shawn and Marla Langley</em>
        </p>
      </div>
    </footer>
  </body>
</html>
