<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Junk removal service made simple for you. Our reliable hauling service will remove unwanted items and provide you with more space. Free estimates serving the Eugene Springfield and surrounding area." />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/styles.css" />
    <title>HB Junk Hauling</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>