---
layout: layout.liquid
title: Oops! Not Found
slug: ""
permalink: 404.html
---

<section class="lock pad">
  <div class="lock__txt">
    <div class="fh fhh">{{ title }}</div>
    <h3>Looks like you&rsquo;ve taken a wrong turn, don&rsquo;t worry, it happens to the best of us.</h3>
    <a href="/" class="btn">
      <span>Return to the home page</span>
    </a>
  </div>
  <div class="lock__img">
    <div>
      <img
        src="/images/hbshawn-home.webp"
        loading="lazy"
        width=""
        height=""
        alt="" />
    </div>
  </div>
</section>