---
layout: layout.liquid
title: Services
class: our-services
---

{%
  render "hero"
  , src: "/images/hbhero-services.webp"
  , width: "2500"
  , height: "3300"
  , title: "Don&rsquo;t get in a funk, let us remove your junk!"
%}

<section class="sec pad">
  <h3>Residential and Commercial</h3>
  <p>
    Residential properties are where we do most of our work. Homes accumulate 
    trash and excess stuff over time. Allow us to clear out the belongings you
    no longer want and give you back the clean space you’ve been missing. We can
    remove your junk and debris from inside as well as outside of your home so
    you don’t have to!
  </p>
  <p>
    Whether you’re working on a remodel, clearing out an office space or an old 
    building, you can count on us to clear out your space in a timely and
    efficient manner. Striving for customer satisfaction is our goal!
  </p>
  <p>Hauling made simple for you, and haulers you can trust to be efficient!</p>
</section>

<section class="hero hero--vets">
  <img
    src="/images/hbamerican-flag.webp"
    loading="lazy"
    width="2500"
    height="1667"
    alt="" />
  <div>
    <h1>Military Discounts!</h1>
    <h4>
      <div>
        We are thankful to our military veterans for all they have done to help 
        keep our country safe!
      </div>
      <div>
        Show your military ID and you will receive a 10% discount off of your 
        estimate. We thank you for your service!
      </div>
    </h4>
  </div>
</section>

<section class="sec pad">
  <h3>Our Pricing</h3>
  <p>
    We charge by volume with a $125 to $175 minimum fee depending on location. 
    Things that may affect the cost of your estimate are:
  </p>
  <p>
    Accessibility of items, weight, difficult to move, need to be dismantled or 
    they are tangled up in brush.
  </p>
  <p>
    A free, no obligation estimate will be provided before any work is 
    performed. If our quote is over your desired budget, you may simply decline.
  </p>
</section>

<section class="sec pad">
  <h3>Extra Cost Items</h3>
  <ul>
    <li>
      <p>Mattresses</p>
    </li>
    <li>
      <p>Box springs</p>
    </li>
    <li>
      <p>Appliances with refrigerant</p>
    </li>
    <li>
      <p>Propane tanks</p>
    </li>
    <li>
      <p>Tires</p>
    </li>
  </ul>
</section>